package layouts

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Musik Marching</title>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="color-scheme" content="light dark"/>
			<script src="/static/script/htmx.min.js"></script>
			<link rel="stylesheet" href="/static/css/style.css"/>
		</head>
		<body>
			<main class="container mx-auto">
				{ children... }
			</main>
		</body>
	</html>
}
