package components

import "galihwicaksono90/musikmarching-be/internal/constants/model"

templ Avatar(user model.SessionUser) {
	<div class="rounded-full overflow-hidden bg-red-500">
		<img class="h-full w-full rounded-full " src={ user.PictureUrl } />
	</div>
}
