package components

import db "galihwicaksono90/musikmarching-be/internal/storage/persistence"

templ scoreItem(score db.GetVerifiedScoresRow) {
	<div class="flex flex-row items">
		{ score.Title } - { score.Name }
	</div>
}

templ Scores(scores *[]db.GetVerifiedScoresRow) {
	<ul id="score-list">
		for _, score := range *scores {
			<li>
				@scoreItem(score)
			</li>
		}
	</ul>
}
