package components

type SuccessProps struct {
	Message string
}

templ Success(message string) {
	<div class="purchase-notification h-32 w-64 bg-green-500 text-white flex flex-col justify-center items-center">
		<h1>Success</h1>
		<p>{ message }</p>
	</div>
}
