package pages

import (
	"galihwicaksono90/musikmarching-be/internal/constants/model"
	"galihwicaksono90/musikmarching-be/views/components"
	"galihwicaksono90/musikmarching-be/views/layouts"
)

templ ContributorPage(user model.SessionUser) {
	@layouts.Index() {
		@components.Header(user)
		<div>
			<h1>Contributor</h1>
			@components.ScoreList()
			@components.Button(components.ButtonProps{Text: "Create new", Href: "/contributor/score/create"})
		</div>
	}
}
