package pages

import (
	"galihwicaksono90/musikmarching-be/internal/constants/model"
	"galihwicaksono90/musikmarching-be/views/components"
	"galihwicaksono90/musikmarching-be/views/layouts"
	db "galihwicaksono90/musikmarching-be/internal/storage/persistence"
)

templ Home(user model.SessionUser, purchases []db.Purchase) {
	@layouts.Index() {
		@components.Header(user)
		<div class="container mx-auto">
			<h1>Home</h1>
			@components.ScoreList()
			<div id="purchase-notification"></div>
		</div>
	}
}
