package pages

import (
	"galihwicaksono90/musikmarching-be/internal/constants/model"
	"galihwicaksono90/musikmarching-be/views/components"
	"galihwicaksono90/musikmarching-be/views/layouts"
)

templ Home(user model.SessionUser) {
	@layouts.Index() {
		@components.Header(user)
		<div class="container mx-auto">
			<h1>Home</h1>
			<div hx-get="/score/verified" hx-trigger="load">hello</div>
		</div>
	}
}
