package pages

import (
	"galihwicaksono90/musikmarching-be/internal/constants/model"
	"galihwicaksono90/musikmarching-be/views/components"
	"galihwicaksono90/musikmarching-be/views/layouts"
)

templ ScoreUpdatePage(user model.SessionUser, id string, values components.ScoreFormProps) {
	@layouts.Index() {
		@components.Header(user)
		<div>
			<h1>Update Score: { values.Title }</h1>
			@components.UpdateScoreForm(id, values)
		</div>
	}
}
